@import "tailwindcss";

:root {
  --main-green-color: #00a162;
  --main-orange-color: #feaa53;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-green {
  background-color: var(--main-green-color);
  color: white;
}
.btn-green:hover {
  background-color: #008b55;
}
.btn-transparent {
  background-color: transparent;
  color: var(--main-green-color);
  border: 2px solid #065f46;
  border-radius: 9999px;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 0.75rem 1.5rem;
}

.btn-transparent:hover {
  background-color: #065f46;
  color: white;
  transform: scale(1.05);
}
.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.goog-te-gadget span {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0px;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

#google_translate_element select {
  background: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 11px 6px;
  border: 1px solid var(--light-gray);
}

.goog-te-gadget {
  font-size: 0 !important;
}

.goog-te-gadget span {
  display: none !important;
}
